PORT=3000
IAM_SERVICE_URL=http://iam-service:8081
PROJECT_SERVICE_URL=http://project-service:8082
ISSUE_SERVICE_URL=http://issue-service:8083
NOTIFICATION_SERVICE_URL=http://notification-service:8084
HEALTH_CHECK_TIMEOUT_MS=1500
